.lobby-tables {
  margin: auto;
  gap: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
  aspect-ratio: 1/1; }

.lobby-table {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.lobby-table-top {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.lobby-title {
  text-align: center;
  background-color: pink; }

.lobby-board {
  width: 60%;
  margin-bottom: 15px; }

.lobby-button {
  background-color: light-blue;
  width: 70%;
  margin: 0 auto; }

@media only screen and (max-width: 900px) {
  .lobby-tables {
    width: 100%;
    gap: 0; } }

